# US Cafe' Stores Sales Analysis

## Table of Contents
### Import libraries and Data
### Data Wrangling
#### - Discovery
#### - Cleaning
#### - Exporting

### Import libraries and Data

In [13]:
#import libraries
import pandas as pd
import numpy as np
import os
import datetime as dt

In [14]:
#Create path
path = r'/Users/rusamijan/04-2023 US Stores Sales Analysis'

In [15]:
#Import data
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'sales.csv'), index_col = False)

### Data Wrangling

#### Disovery

In [16]:
df.head()

,Area Code,State,Market,Market Size,Profit,Margin,Sales,COGS,Total Expenses,Marketing,Inventory,Budget Profit,Budget COGS,Budget Margin,Budget Sales,ProductId,Date,Product Type,Product,Type
0,203,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,110.0,160.0,270.0,2,04/01/10 00:00:00,Coffee,Columbian,Regular
1,203,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,07/01/10 00:00:00,Coffee,Columbian,Regular
2,203,Connecticut,East,Small Market,122.0,195.0,325.0,130.0,73.0,42.0,1134.0,130.0,110.0,180.0,290.0,2,11/01/10 00:00:00,Coffee,Columbian,Regular
3,203,Connecticut,East,Small Market,105.0,174.0,289.0,115.0,69.0,37.0,1166.0,110.0,100.0,160.0,260.0,2,12/01/10 00:00:00,Coffee,Columbian,Regular
4,203,Connecticut,East,Small Market,104.0,135.0,223.0,90.0,56.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,07/01/11 00:00:00,Coffee,Columbian,Regular

In [17]:
#drop columns that no need in analysis
df1=df.drop(['ProductId'], axis = 1, inplace = True)

In [18]:
df.shape

(4248, 19)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4248 entries, 0 to 4247
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Area Code       4248 non-null   int64
 1   State           4248 non-null   object
 2   Market          4248 non-null   object
 3   Market Size     4248 non-null   object
 4   Profit          4248 non-null   float64
 5   Margin          4248 non-null   float64
 6   Sales           4248 non-null   float64
 7   COGS            4248 non-null   float64
 8   Total Expenses  4248 non-null   float64
 9   Marketing       4248 non-null   float64
 10  Inventory       4248 non-null   float64
 11  Budget Profit   4248 non-null   float64
 12  Budget COGS     4248 non-null   float64
 13  Budget Margin   4248 non-null   float64
 14  Budget Sales    4248 non-null   float64
 15  Date            4248 non-null   object
 16  Product Type    4248 non-null   object
 17  Product         4248 non-null   object
 18  Type            4248 non-null   object
dtypes: float64(11), int64(1), object(7)
memory usage: 630.7+ KB

In [20]:
df.describe()

,Area Code,Profit,Margin,Sales,COGS,Total Expenses,Marketing,Inventory,Budget Profit,Budget COGS,Budget Margin,Budget Sales
count,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000
mean,582.278013,61.097693,104.293315,192.987524,84.433145,54.063559,31.185028,749.381356,60.913371,74.830508,100.819209,175.649718
std,221.140310,101.708546,94.342522,151.133127,67.249769,32.352598,27.023264,661.031896,79.546123,66.238145,92.602725,148.891522
min,203.000000,-638.000000,-302.000000,17.000000,0.000000,10.000000,0.000000,-3534.000000,-320.000000,0.000000,-210.000000,0.000000
25%,417.000000,17.000000,52.750000,100.000000,43.000000,33.000000,13.000000,432.000000,20.000000,30.000000,50.000000,80.000000
50%,573.000000,40.000000,76.000000,138.000000,60.000000,46.000000,22.000000,619.000000,40.000000,50.000000,70.000000,130.000000
75%,772.000000,92.000000,132.000000,230.000000,100.000000,65.000000,39.000000,910.500000,80.000000,90.000000,130.000000,210.000000
max,985.000000,778.000000,613.000000,912.000000,364.000000,190.000000,156.000000,8252.000000,560.000000,450.000000,690.000000,1140.000000

#### Observing the data
Inventory minimum values are negative: it's not possible to happen, because at the moment the inventory is equals zero, the market doesn't have the product phisically to sell. So, let's make a small Data Transformation to convert all negative Invetories to zero;

In [21]:
# Converting all negative values of inventory to zero
df['Inventory'] = df['Inventory'].apply(lambda x: x if x >= 0 else 0)
df.describe()

,Area Code,Profit,Margin,Sales,COGS,Total Expenses,Marketing,Inventory,Budget Profit,Budget COGS,Budget Margin,Budget Sales
count,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000
mean,582.278013,61.097693,104.293315,192.987524,84.433145,54.063559,31.185028,769.115348,60.913371,74.830508,100.819209,175.649718
std,221.140310,101.708546,94.342522,151.133127,67.249769,32.352598,27.023264,610.080105,79.546123,66.238145,92.602725,148.891522
min,203.000000,-638.000000,-302.000000,17.000000,0.000000,10.000000,0.000000,0.000000,-320.000000,0.000000,-210.000000,0.000000
25%,417.000000,17.000000,52.750000,100.000000,43.000000,33.000000,13.000000,432.000000,20.000000,30.000000,50.000000,80.000000
50%,573.000000,40.000000,76.000000,138.000000,60.000000,46.000000,22.000000,619.000000,40.000000,50.000000,70.000000,130.000000
75%,772.000000,92.000000,132.000000,230.000000,100.000000,65.000000,39.000000,910.500000,80.000000,90.000000,130.000000,210.000000
max,985.000000,778.000000,613.000000,912.000000,364.000000,190.000000,156.000000,8252.000000,560.000000,450.000000,690.000000,1140.000000

### Cleaning

In [22]:
#check missing values
df.isna().sum()

Area Code         0
State             0
Market            0
Market Size       0
Profit            0
Margin            0
Sales             0
COGS              0
Total Expenses    0
Marketing         0
Inventory         0
Budget Profit     0
Budget COGS       0
Budget Margin     0
Budget Sales      0
Date              0
Product Type      0
Product           0
Type              0
dtype: int64

found no missing data

In [23]:
df.dtypes

Area Code           int64
State              object
Market             object
Market Size        object
Profit            float64
Margin            float64
Sales             float64
COGS              float64
Total Expenses    float64
Marketing         float64
Inventory         float64
Budget Profit     float64
Budget COGS       float64
Budget Margin     float64
Budget Sales      float64
Date               object
Product Type       object
Product            object
Type               object
dtype: object

In [24]:
import datetime

# Getting just the date part of 'Date' Feature in DD/MM/YY format
# and converting the string into datetime
df['Date'] = df['Date'].apply(lambda row:row[0:8])
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')
df['Date'].head()

0   2010-01-04
1   2010-01-07
2   2010-01-11
3   2010-01-12
4   2011-01-07
Name: Date, dtype: datetime64[ns]

In [25]:
df.dtypes

Area Code                  int64
State                     object
Market                    object
Market Size               object
Profit                   float64
Margin                   float64
Sales                    float64
COGS                     float64
Total Expenses           float64
Marketing                float64
Inventory                float64
Budget Profit            float64
Budget COGS              float64
Budget Margin            float64
Budget Sales             float64
Date              datetime64[ns]
Product Type              object
Product                   object
Type                      object
dtype: object

In [26]:
#check duplicate values 
df_dup = df[df.duplicated()]

In [27]:
df_clean = df_dup.drop_duplicates() #no dup

In [28]:
df_clean.shape

(0, 19)

### Exporting

In [29]:
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'sales_cleaned.pkl'))